{%block content%}
    <form action="/videoupload" id="video" method="post" enctype="multipart/form-data">
        <label for="video">파일 업로드</label>
        <input type="file" id="video" name="video">
        <button type="submit">전송</button>
      </form>
{%endblock%}